* {
box-sizing: border-box;
}
/* 全体の設定 */
body {
background: #a6d3f8;
text-align: center;
font-family: 'Courier New', sans-serif;
}

/* キャンバスを入れるものの設定 */
#board {
    padding: 0.2em 0.5em;
    margin: 2em auto;
    width: 520px;
    background: #79ff89;
    box-shadow: 0px 0px 0px 10px #79ff89;
    border: dashed 2px white;
}

/* タイトルの箱の設定 */
.title{
    padding: 0.2em 0.5em;
    margin: 2em auto;
    width: 300px;
    background: #79ff89;
    box-shadow: 0px 0px 0px 10px #79ff89;
    border: dashed 2px white;
}
/* タイトル（文字）の設定 */
.title p {
    user-select: none;
    color: #000000;
    margin: 0; 
    padding: 8px;
}
/* キャンバスの設定 */
canvas {
cursor: pointer;
background: white;
border-radius: 16px;
}

/* 黒い筆の設定 */
.black {
display: inline-block;
text-decoration: none;
background: #79ff89;
width: 60px;
height: 60px;
line-height: 60px;
border-radius: 50%;
text-align: center;
margin-right: 12px;
margin-left: 12px;
margin-top: 2px;
margin-bottom: 2px;
vertical-align: middle;
overflow: hidden;
transition: .4s;
}
/* 黒い筆の中身 */
.black i {
vertical-align: middle;
color: #000000;
top: 9px;
border-radius: 50%;
font-size: 36px;
}

/* 赤い筆の設定 */
.red {
display: inline-block;
text-decoration: none;
background: #79ff89;
width: 60px;
height: 60px;
line-height: 60px;
border-radius: 50%;
text-align: center;
margin-right: 12px;
margin-left: 12px;
margin-top: 2px;
margin-bottom: 2px;
vertical-align: middle;
overflow: hidden;
transition: .4s;
}
/* 赤い筆の中身 */
.red i {
vertical-align: middle;
color: #ff0000;
top: 9px;
border-radius: 50%;
font-size: 36px;
}

/* 青い筆の設定 */
.blue {
display: inline-block;
text-decoration: none;
background: #79ff89;
width: 60px;
height: 60px;
line-height: 60px;
border-radius: 50%;
text-align: center;
margin-right: 12px;
margin-left: 12px;
margin-top: 2px;
margin-bottom: 2px;
vertical-align: middle;
overflow: hidden;
transition: .4s;
}
/* 青い筆の中身 */
.blue i {
vertical-align: middle;
color: #0000ff;
top: 9px;
border-radius: 50%;
font-size: 36px;
}

/* 黄色い筆の設定 */
.yellow {
display: inline-block;
text-decoration: none;
background: #79ff89;
width: 60px;
height: 60px;
line-height: 60px;
border-radius: 50%;
text-align: center;
margin-right: 12px;
margin-left: 12px;
margin-top: 2px;
margin-bottom: 2px;
vertical-align: middle;
overflow: hidden;
transition: .4s;
}
/* 黄色い筆の中身 */
.yellow i {
vertical-align: middle;
color: #ffff00;
top: 9px;
border-radius: 50%;
font-size: 36px;
}

/* 緑の筆の設定 */
.green {
display: inline-block;
text-decoration: none;
background: #79ff89;
width: 60px;
height: 60px;
line-height: 60px;
border-radius: 50%;
text-align: center;
margin-right: 12px;
margin-left: 12px;
margin-top: 2px;
margin-bottom: 2px;
vertical-align: middle;
overflow: hidden;
transition: .4s;
}
/* 緑の筆の中身 */
.green i {
vertical-align: middle;
color: #008000;
top: 9px;
border-radius: 50%;
font-size: 36px;
}

/* 白い筆の設定 */
.white {
display: inline-block;
text-decoration: none;
background: #79ff89;
width: 60px;
height: 60px;
line-height: 60px;
border-radius: 50%;
text-align: center;
margin-right: 12px;
margin-left: 12px;
margin-top: 2px;
margin-bottom: 2px;
vertical-align: middle;
overflow: hidden;
transition: .4s;
}
/* 白い筆の中身 */
.white i {
vertical-align: middle;
color: #ffffff;
top: 9px;
border-radius: 50%;
font-size: 36px;
}

/* 消しゴムの設定 */
.eraser {
display: inline-block;
text-decoration: none;
background: #79ff89;
width: 60px;
height: 60px;
line-height: 60px;
border-radius: 50%;
text-align: center;
margin-right: 12px;
margin-left: 12px;
margin-top: 2px;
margin-bottom: 2px;
vertical-align: middle;
overflow: hidden;
transition: .4s;
}
/* 消しゴムの中身 */
.eraser i {
vertical-align: middle;
color: #707070;
top: 9px;
border-radius: 50%;
font-size: 36px;
}

/* 戻るボタンの設定 */
.clear {
    display: inline-block;
    text-decoration: none;
    background: #79ff89;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
    }
/* 戻るボタンの中身 */
.clear i {
vertical-align: middle;
color: #707070;
top: 9px;
border-radius: 50%;
font-size: 36px;
}
/* LINE上の画面の時 */
@media (max-width: 470px) {
    body {
        overflow: hidden;
    }
    /* キャンバスを入れるものの設定 */
    #board {
        padding: 0.4em 0.5em;
        margin: 1.5em auto;
        width: 400px;
        background: #79ff89;
        box-shadow: 0px 0px 0px 10px #79ff89;
        border: dashed 2px white;
    }
    
    /* タイトルの箱の設定 */
    .title{
        padding: 0.2em 0.5em;
        margin: 1em auto;
        width: 300px;
        background: #79ff89;
        box-shadow: 0px 0px 0px 10px #79ff89;
        border: dashed 2px white;
    }
    /* タイトル（文字）の設定 */
    .title p {
        user-select: none;
        color: #000000;
        margin: 0; 
        padding: 8px;
    }
    
    /* キャンバスの設定 */
    canvas {
    cursor: pointer;
    background: white;
    border-radius: 16px;
    }
    
    .color{
    text-align: center;
    }
    
    /* 黒い筆の設定 */
    .black {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin : 2px;
    }  
    /* 黒い筆の中身 */
    .black i {
    top: 8px;
    font-size: 24px;
    }

    /* 赤い筆の設定 */
    .red {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin : 2px;
    }
    /* 赤い筆の中身 */
    .red i {
    top: 8px;
    font-size: 24px;
    }

    /* 青い筆の設定 */
    .blue {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin : 2px;
    }
    /* 青い筆の中身 */
    .blue i {
    top: 8px;
    font-size: 24px;
    }

    /* 黄色い筆の設定 */
    .yellow {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin : 2px;
    }
    /* 黄色い筆の中身 */
    .yellow i {
    top: 8px;
    font-size: 24px;
    }

    /* 緑の筆の設定 */
    .green {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin : 2px;
    }
    /* 緑の筆の中身 */
    .green i {
    top: 8px;
    font-size: 24px;
    }

    /* 白い筆の設定 */
    .white {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin : 2px;
    }
    /* 白い筆の中身 */
    .white i {
    top: 8px;
    font-size: 24px;
    }
    /* 消しゴムの設定 */
    .eraser {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin : 2px;
    }
    /* 消しゴムの中身 */
    .eraser i {
    top: 8px;
    font-size: 24px;
    }

    /* 戻るボタンの設定 */
    .clear {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin : 2px;
    }
    /* 戻るボタンの中身 */
    .crear i {
    top: 8px;
    font-size: 24px;
    }
}